<p>Hey <%= name %>,</p>

<p>
  We are following up on your support request. Please click on the following
  link to join the meeting: <a href="<%= url %>">Join Meeting</a>
</p>

<p>Best regards,</p>

<p>Bench Data</p>
